<div class="share-page">
    <p>Enjoyed the article? <span style="font-weight: bold;">Share on <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}&via={{ site.twitter_username }}&related={{ site.twitter_username }}" rel="nofollow" target="_blank" title="Share on Twitter">Twitter</a></span></p>
    <p style="margin-top: -12px;">Question? Feedback? <span style="font-weight: bold;">Tweet <a href="https://twitter.com/intent/tweet?text=@{{ site.twitter_username }}&related={{ site.twitter_username }} " rel="nofollow" target="_blank" title="Share on Twitter">@tomkowz</a></span></p>
</div>
